.row{
	margin-top: 30px;
	
}
.first-col{
	outline: thin solid;
	height: 50px;
	width:90px; 
	padding-top:10px;
	text-align: center;

}
.second-col{
	
	height: 50px;
	padding-top:10px;
	text-align: center;
	background-color: blue;

}
#btn2{
	margin-left:50px;
}
#btn1{
	margin-left:14px;
}
.list-item{
	font-weight: bold;

}
#heading{
	margin-top:8px;
	margin-left:490px;
}
#addUser{
	color: white;

}
#logout{
	margin-left:1170px;
}